<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Lees Meer</title>
        <!--Import materialize.css-->
        <!--<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">

        
        <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
      <nav class=" cyan darken-3" role="navigation">
        <div class="container">
          <div class="nav-wrapper">
              <a id="logo-container" href="#" class="brand-logo">
                <img src="{% static 'assets/logo/logo_square_300_white.png' %}" class="responsive-img">
              </a>
            <ul class="right">
              <li><a href="#">Contact</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
              <li><a href="#">Contact</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          </div>
        </div>
      </nav>
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <div class="row center">
            <div class="col s12 m4 offset-m4" >
              <img src="{% static 'assets/logo/logo_square_300.png' %}" class="responsive-img">
            </div>
          </div>
          <h1 class="header center orange-text"></h1>
          <div class="row center">
            <h5 class="header col s12 light">Lees Meer helpt kinderen met lezen weer leuk te vinden</h5>
          </div>
          
          <br><br>

        </div>
      </div>


      <div class="container">
        <div class="section">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center cyan-text"><i class="mdi-image-flash-on"></i></h2>
                <h5 class="center">Leesmeters maken</h5>

                <p class="light">Het grootste probleem bij kinderen met een leesachterstand is dat zij niet makkelijk kunnen lezen. Dit komt omdat zij niet gewend zijn aan de activiteit. Door kinderen meer leesmeters te laten maken worden zij vanzelf beter in lezen</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center cyan-text"><i class="mdi-social-group"></i></h2>
                <h5 class="center">Lezen weer leuk vinden</h5>

                <p class="light">Op school moeten kinderen vaak voorgeselecteerd materiaal over een vast onderwerp lezen. Echter hebben kinderen vaak zeer uiteenlopende interesses en passies. Door kinderen leesmateriaal te geven over onderwerpen die hun interesseert blijven kinderen terugkomen en doorlezen </p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center cyan-text"><i class="mdi-action-settings"></i></h2>
                <h5 class="center">Lezers serieus nemen</h5>

                <p class="light">Kinderen met een leesachterstand moeten vaak teksten lezen die niet aansluiten op hun belevingswereld. Hierdoor worden kinderen al bij voorbaat gedemotiveerd om te gaan lezen. Door kinderen leesmateriaal te geven die wel aansluit is de kans veel groter dat zij over de eerste drempel heenkomen</p>
              </div>
            </div>
          </div>

        </div>
        <br><br>

        <div class="section">

        </div>
      </div>

      <footer class="page-footer orange">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Company Bio</h5>
              <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Settings</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Connect</h5>
              <ul>
                <li><a class="white-text" href="#!">Link 1</a></li>
                <li><a class="white-text" href="#!">Link 2</a></li>
                <li><a class="white-text" href="#!">Link 3</a></li>
                <li><a class="white-text" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
          </div>
        </div>
      </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!--<script type="text/javascript" src="js/materialize.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>
    </body>
</html>
